<div class="contenedor_vector" id="seccion1">
	<img src="/img/Vector 2.png">	
</div>
<div class="contenedor_titulo_portada">
	<h2 class="titulo_portada">PORTAFOLIO</h2>
	<p>Jesus Molina</p>
</div>

<div class="contenedor_texto_portada">
	<h3>Experiencia</h3>
	<ul>
		<li>
			<a href="">Web FullStack</a>
		</li>
		<!-- <li>
			<a href="">Apps Android</a>
		</li> -->
	</ul>
	
	
</div>


<div class="slider-container" id="slider-container">

	<div class="portada_contenedor slider">

		<div class="slider-item">
			<div class="portada_img_proyectos_contenedor">
				<div class="portada_img_contenedor">
					<img src="/img/img_prueba_slider/1 (1).jpg">
				</div>	
				<!-- <a href="">ver articulo</a> -->
			</div>
		</div>

		<div class="slider-item">
			<div class="portada_img_proyectos_contenedor">
				<div class="portada_img_contenedor">
					<img src="/img/img_prueba_slider/1 (2).jpg">
				</div>	
				<!-- <a href="">ver articulo</a> -->
			</div>
		</div>

		<div class="slider-item">
			<div class="portada_img_proyectos_contenedor">
				<div class="portada_img_contenedor">
					<img src="/img/img_prueba_slider/1 (4).jpg">
				</div>	
				<!-- <a href="">ver articulo</a> -->
			</div>
		</div>

		<div class="slider-item">
			<div class="portada_img_proyectos_contenedor">
				<div class="portada_img_contenedor">
					<img src="/img/img_prueba_slider/1 (5).jpg">
				</div>	
				<!-- <a href="">ver articulo</a> -->
			</div>
		</div>
			<div class="slider-item">
			<div class="portada_img_proyectos_contenedor">
				<div class="portada_img_contenedor">
					<img src="/img/img_prueba_slider/1 (6).jpg">
				</div>
				<!-- <a href="">ver articulo</a> -->
			</div>
		</div>
	</div>
	<div class="pelicula_negra"></div>
</div>


<div class="contenedor_fondo1">

<div class="presentacion_contenedor">
	<div class="tarjeta_contenedor_presentacion sr">

	<div class="contenedor_imagen_info">
		<div class="imagen_contenedor_presentacion">
			<img src="/img/Imagen_perfil.jpg">
		</div>	
	</div>
		
		<p class="nombre_imagen">Jesus Molina</p>
		
		<div class="contenedor_historia">
			<p>Soy Jesus Molina, un apasionado desarrollador web, amante de las finanzas y la tecnología. Con un ojo crítico para el diseño y la funcionalidad, he llevado a cabo numerosos proyectos de desarrollo web que combinan la elegancia visual con una experiencia de usuario intuitiva. Puedo crear desde sitios informativos hasta plataformas interactivas, me esfuerzo por crear soluciones digitales que destaquen por su simplicidad y eficiencia, ademas de apacionarme la creación de programas de registros financieros teniendo como objetivo simplificar la gestión financiera, proporcionando herramientas interactivas que permitan un control total de los registros contables.
		</p>
		</div>

		<!-- <button class="curriculum_descargar">Descargar Curriculum</button> -->
		<a class="curriculum_descargar" href="/archivos/CV Jesus Molina.pdf" download="CV Jesus Molina">Descargar Curriculum</a>
</div>
</div>


<div class="titulo_contenedor sr">
		<h2>Competencias</h2>
		<p>Mis conocimientos de Software</p>
</div>
<div class="habilidades_contenedor sr">

		<div class="habilidad_tarjeta_contenedor">
			<p class="titulo_habilidad">HTML</p>
			<div class="barra_porcentaje BP1"></div>
			<p class="porcentaje_numero">95%</p>
		</div>

		<div class="habilidad_tarjeta_contenedor">
			<p class="titulo_habilidad">CSS</p>
			<div class="barra_porcentaje BP2"></div>
			<p class="porcentaje_numero">83%</p>
		</div>

		<div class="habilidad_tarjeta_contenedor">
			<p class="titulo_habilidad">JavaScript</p>
			<div class="barra_porcentaje BP3"></div>
			<p class="porcentaje_numero">75%</p>
		</div>
		<div class="habilidad_tarjeta_contenedor">
			<p class="titulo_habilidad">PostgreSQL</p>
			<div class="barra_porcentaje BP4"></div>
			<p class="porcentaje_numero">70%</p>
		</div>
		<div class="habilidad_tarjeta_contenedor">
			<p class="titulo_habilidad">NodeJs</p>
			<div class="barra_porcentaje BP5"></div>
			<p class="porcentaje_numero">80%</p>
		</div>
	<!-- 	<div class="habilidad_tarjeta_contenedor">
			<p class="titulo_habilidad">Photoshop</p>
			<div class="barra_porcentaje BP4"></div>
			<p class="porcentaje_numero">75%</p>
		</div> -->
	</div>
</div>


<div class="contenedor_fondo2" id="seccion2">
<div class="contenedor_total_portafolio sr">
<div class="titulo_contenedor">
		<h2>Portafolio</h2>
		<p>Mis Ultimos Trabajos</p>
</div>

<div class="contenedor_portafolio sr">
		<img src="/img/proyectos/mustafa_inicio.png" alt="">
		<img src="/img/proyectos/web_mustafa_inicio.png" alt="">
		<img src="/img/proyectos/pylint.png" alt="">
</div>

</div>

<div class="titulo_contenedor sr" id="seccion3">
		<h2>Experiencia</h2>
</div>

<div class="experiencias_contenedor">

	<div class="tarjeta_experiencia_contenedor">
		<div class="experiencia_derecha sr">

		</div>
		<div class="experiencia_izquierda sr">
			<p class="fecha_experiencia">2023-2023</p>
			<p class="nombre_proyecto_experiencia">Pylint</p>
			<h4 class="tarea_ejercida_experiencia">Desarrollador</h4>
			<p class="descripcion_experiencia">Programa de adminitracion de finanzas personales, usando html, cess,javascript para su derradollo y diseño, cuenta con una base de datos programada con postgresql y es de entorno web con la idea de que pueda funcionar en multiples dispositivos</p>
			<div class="punto_experiencia"></div>
		</div>
	</div>
	<div class="tarjeta_experiencia_contenedor sr">
		<div class="experiencia_derecha sr">
			<p class="fecha_experiencia">2023-2023</p>
			<p class="nombre_proyecto_experiencia">Mustafa Admin</p>
			<h4 class="tarea_ejercida_experiencia">Desarrollador</h4>
			<p class="descripcion_experiencia">Sistema de control de inventario, ademas de operarlos para llevar el control del  deposito de dicho establecimiento, ejecute el rol de mantenimiento de los sistemas e ingreso de informacion, diseñado con html, css, javascript y una base de datos postgreSQL</p>
			<div class="punto_experiencia"></div>
		</div>
		<div class="experiencia_izquierda sr">
			<div class="punto_experiencia"></div>
		</div>
	</div>
	<div class="tarjeta_experiencia_contenedor">
		<div class="experiencia_derecha sr">
			
		</div>
		<div class="experiencia_izquierda ultima_experiencia sr">
			<p class="fecha_experiencia">2023-2023</p>
			<p class="nombre_proyecto_experiencia">Mustafa Web</p>
			<h4 class="tarea_ejercida_experiencia">Desarrolador</h4>
			<p class="descripcion_experiencia">Pagina web realizada a dicha empresa, con el fin de mejorar sus ventas y tener mejor presencia online</p>
			<div class="punto_experiencia"></div>
		</div>
	</div>
</div>

</div>

<footer class="contenedor_fondo3 footer_contenedor" id="seccion4">
	<div class="contacto_contenedor sr">
		<div class="formulario_descripcion_contenedor">
		<div class="contacto_descripcion">
			<p class="contacto_titulo">Contacto</p>
			<p class="contacto_descripcion_text">Transforma Tu Visión en Realidad Digital, me encantaría tener una conversación más detallada sobre cómo puedo contribuir al crecimiento y éxito de su emprendimiento. Agradezco tu tiempo y consideración, estoy entusiasmado por la posibilidad de colaborar contigo. ¡Espero su respuesta!</p>
			<p class="contacto_descripcion_text"><span>Gmail:</span> jesusmolina8823@gmail.com</p>
			<p class="contacto_descripcion_text"><span>Tel:</span> 901-745-932</p>

		</div>
		<form class="contenedor_form_contacto">
			<div class="contenedor_inputs_principales">
				<input type="text" name="" placeholder="Nombre">
				<input type="email" name="" placeholder="Gmail">
			</div>
			<input class="input_telefono_contacto" type="text" name="" placeholder="Telefono">
			<textarea placeholder="Mensaje"></textarea>
			<input class="input_boton_contacto" type="submit" name="" value="Enviar">

		</form>
		</div>

		<div class="redes_sociales_contenedor">
			<div class="red_social">
				<a href=""> <img src="/img/redes sociales/facebook-f_verde.svg" alt="Icono SVG"></a>
			</div>
			<div class="red_social">
				<a href=""><img src="/img/redes sociales/instagram_verde.svg" alt="Icono SVG"></a>
			</div>
		</div>

	</div>

	<div class="creador_contenedor">
		<div class="contenido_contenedor_creador">
			<div class="img_contenedor_creador">
				<img src="/img/Imagen_perfil.jpg">
			</div>
			<p>¡Gracias por visitar! Siéntete libre de explorar mi portafolio y ponerse en contacto para discutir cómo podemos trabajar juntos.</p>
		</div>

	</div>
</footer>

</div>