
<div class="navegacion_contenedor">
	<div class="navegacion_link">
		<a href="/#seccion1">Inicio</a>
	</div>
	<div class="navegacion_link">
		<a href="/portafolio">Portafolio</a>
	</div>
	<div class="navegacion_logo">
		<img src="/img/logo JR.png">
	</div>
	<div class="navegacion_link">
		<a href="#seccion3" onclick="scrollToSection('seccion3')">Experiencia</a>
	</div>
	<div class="navegacion_link">
		<a href="#seccion4" onclick="scrollToSection('seccion4')">Contacto</a>
	</div>
</div>


<div class="navegacion_contenedor_movil">
	<div onclick="mostrar_menu()" class="barra_navegacion">
		<img src="/img/menu.svg" alt="Icono SVG" class="icono_menu">
		<div class="navegacion_logo_movil">
			<img src="/img/logo JR.png">
		</div>
	</div>

	<div class="menu">
		<div onclick="cerrar_menu()" class="barra_navegacion barra_navegacion_2">
			<img src="/img/menu.svg" alt="Icono SVG" class="icono_menu">
			<div class="navegacion_logo_movil">
				<img src="/img/logo JR.png">
			</div>
		</div>
		<a href="#seccion1" onclick="cerrar_menu()">Inicio</a>
		<a href="/portafolio" onclick="cerrar_menu()">Portafolio</a>
		<a href="#seccion3" onclick="cerrar_menu()">Experiencia</a>
		<a href="#seccion4" onclick="cerrar_menu()">Contacto</a>

	</div>


</div>

