		
	<div class="portafolio_contenedor_ind contenedor_fondo4">


		<div class="titulo_contenedor">
			<h2>Proyectos</h2>
		</div>


		<section class="banco_img_contenedor">
					<a href="/portafolio/proyecto_info">
						<img src="./img/proyectos/rm portada.png">
						<div class="detalles">
					        <h3>HM Moto Care</h3>
					        <p>La empresa HM Moto Care esta dedicada a la venta de servicios de reparacion, modificacion
								y revicion de motos de todo tipo de silindrada. Se busca con el actual proyecto incrementar
								de manera exponecial el rendimiento de ventas actual de la empresa.</p>
					    </div>
					</a>


					<a href="/portafolio/proyecto_info2">
						<img src="/img/proyectos/offroad.png">
						 <div class="detalles">
					        <h3>M&H Off Road</h3>
					        <p>La empresa M&H Off Road encargada de la imporacion de productos de china para el
							consumo en latinoamerica peru.</p>
					    </div>
					</a>
					<a href="/portafolio/proyecto_info3">
						<img src="/img/proyectos/mustafa admin.png">
						<div class="detalles">
					        <h3>Mustafa Admin</h3>
					        <p>Mustafa Admin fue una aplicación web creada con el fin de llevar de mejor manera el
								sistema de inventario y gestio de pedidos de la empresa mustafa, se hizo con la idea de
								solucinar el problema de gestionar los pedidos de una manera mas rapida y eficiente</p>
					    </div>
					</a>
					<!-- <a>
						<img src="/img/proyectos/web_mustafa_inicio.png">
						<div class="detalles">
					        <h3>Título</h3>
					        <p>Descripción corta</p>
					    </div>
					</a> -->
					
		</section>
	</div>
