



<div class="portada_proyecto">
<img src="/img/proyectos/offroad.png">
<a href="https://mhoffroad.com/" target="_target">Ver Proyecto</a>
</div>

<div class="descripcion_proyecto">
	<p>La empresa M&H Off Road encargada de la imporacion de productos de china para el
consumo en latinoamerica peru, una pagina web diseñada para la venta de todo tipo de
productos aunque enfocada mas en la venta de articulos para autos todoterreno y camping
mejorando la exxperiencia y comodidad en todo tipo de terrenos.</p>


</div>

<div class="objetivos_proyecto">
	<h2>Objetivos</h2>
	<li>Mejorar los tiempos de entrega y envio de productos</li>
	<li>Diseño compacto e intuitivo para el usuario</li>
	<li>Funel de venta para convertir visitas en ventas</li>
</div>



<div class="contenedor_direcciones_notas">

<div class="direcciones_proyecto">
	<h2>Direcciones del Proyecto</h2>
	<li><a href="https://mhoffroad.com/" target="_target">Pagina Web</a></li>
</div>

<!-- <div class="nota_proyecto">
	<h2>Nota</h2>
	<p>Este proyecto se encuentra en proceso así que
los links y el contenido del mismo se ira
modificando hasta ser completado con éxito.</p>
</div> -->
</div>


	<div class="creador_contenedor2">
		<div class="contenido_contenedor_creador">
			<div class="img_contenedor_creador">
				<img src="/img/Imagen_perfil.jpg">
			</div>
			<p>¡Gracias por visitar! Siéntete libre de explorar mi portafolio y ponerse en contacto para discutir cómo podemos trabajar juntos.</p>
		</div>

	</div>